* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 198, 198);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  top: 0;
  width: 100%;
  height: 20%;
  border: 2px dotted black;
  background-color: white;
}

.nav a {
  text-decoration: none;
  color: rgb(15, 28, 148);
  text-shadow: 1px 1px red;
}

.nav a:hover {
  background-color: black;
  color: white;
}
