@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: "Inter", sans-serif;
}

body {
  background-color: #5b84b1ff;
  font-family: "Inter", sans-serif;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  top: 0;
  width: 100%;
  height: 6vh;
  border-bottom: 5px solid black;
  background-color: white;
  font-family: "Inter", sans-serif;
}

.nav a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 2rem;
  font-weight: bolder;
  text-shadow: 1px 1px rgb(45, 154, 197);
}

.nav a:hover {
  background-color: black;
  color: white;
}

.main-container {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.person-container {
  width: 100%;
  text-align: center;
  vertical-align: middle;
  justify-content: space-around;
  align-items: center;
}
.person {
  border: solid;
  background: whitesmoke;
  margin: 5px;
  padding: 1rem;
  width: 20%;
  vertical-align: top;
  text-align: left;
  display: inline-block;
}
.person > article > figure {
  text-align: center;
  padding: 0.7rem;
}
.person > article > h2 {
  text-align: center;
}
figcaption {
  font-style:italic;
}

.personalImage {
  max-width: 100%;
  width: 100%;
  border-radius: 50%;
  margin-bottom: 10px;
}
blockquote {
  font-style: italic;
  padding: 1rem;
}

.main-heading {
  padding: 30px;
  background: rgb(255, 196, 196);
  color: black;
  font-size: 30px;
  font-weight: bolder;
  border-bottom: solid;
}
.ekstra-margin {
  margin-top: 50px;
}

#about-article {
  padding-top: 1em;
  padding-bottom: 1em;
  border-top: solid;
  border-bottom: solid;
  background: whitesmoke;
  padding-left: 20%;
  padding-right: 20%;
}

section {
  padding-top: 1em;
  padding-bottom: 1em;
  border-top: solid;
  border-bottom: solid;
  background: whitesmoke;
  padding-left: 20%;
  padding-right: 20%;
}

p {
  margin: 1rem;
  text-align: left;
}

h2 {
  margin-top: 1.4rem;
}
